#container {
  display: grid;
  justify-items: center;
  align-items: center;
  /* height: 100vh; */
  /* height: 30vh; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

#outerdiv {
    display: grid;
    height: 100vh;
    align-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */

}


#container h1 {
    margin: 0;
}

body {
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    height: 100vh;
}