body {
  margin: 0;
}

#outerdiv {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 300px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.container img {
  width: 100%;
  height: auto;
}

.container h1 {
  margin: 0;
}
