
.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid gainsboro;
    border-radius: 20px;
}
.logo-container {
    border-top-left-radius: 20px;
}
.logo-container img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nav-items > ul {
    display: flex;
}

.nav-items ul li {
    padding: 10px;
    margin-right: 20px;
    list-style-type: none;
    cursor: pointer;
}

.nav-items ul li:first-child {
    display: inline-block;
    width: 50px;
    text-overflow: hidden;
}

.slide-li {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    height: 200px;
    width: 200px;
    border: 1px solid lightgrey;

    margin-right: 10px;
    margin-bottom: 10px;
}
.res-card:hover {
    border-color: black;
}

.res-card img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    /* border-radius: 20px; */
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    height: 200px ;
    width: 200px;
    background-color: #f0f0f0;
    margin: 10px;
}