header {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
}

#container {
  display: flex;
  border: 2px solid #333;
  flex-wrap: wrap;
  column-gap: 100px;
  justify-content: space-around;
}

.testimonial {
  width: 200px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: lightgray;
  border: 2px solid #666;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  margin: 50px;
  border-radius: 20px;
  padding: 20px;
}
.testimonial div {
    display: flex;
    justify-content: flex-start;
}

.testimonial img {
  width: 50px;
}

.testimonial h3 {
  font-size: 0.9em;
}
