.box {
  background-color: lightgoldenrodyellow;
  border: 2px solid rgb(223, 223, 207);
  border-radius: 10px;
  padding: 20px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: 100px; */
  /* grid-template-rows: 100px 200px; */
  grid-auto-rows: minmax(200px, auto);
}
