body {
    /* margin: 0; */
}

nav {
  background-color: #333;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

article {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  border: 2px solid #333;
  margin: 0 30px;
}

#cardholder {
  text-align: left;
  text-align: center;
}

h1 {
  /* margin: 0 auto; This is for containers */
  text-align: center;
}
