header {
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr auto 1fr 1fr); */
    /* align-items: center; */
    /* justify-items: center; */
    /* column-gap: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div {
    display: flex;
    align-items: center;
}   

.login {
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
    
}

.category {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    
}

.displaycategory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.displaycategory img {
    border-radius: 0px;
}

.smartfonecategory {
    display: flex;
    justify-content: space-between;
}

.smartfonecategory > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}