body {
  font-family: "Sedan SC", serif;
  background-color: #f5f5f5;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  padding: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 20px;
  background-color: black;
  height: 90vh;
  border-radius: 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.profile img {
  width: 60%;
  height: 80%;
  border-radius: 50%;
}

.profile h2 {
  color: white;
  font-size: 20px;
}

.nav {
    display: flex;
    color: white;
    margin-left: 30px;
    padding-right: 20px;
}
.nav:hover {
    color: gold;
}

.nav > a {
    padding-left: 20px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}
.nav > a:hover {
    color: gray;
}

.right {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 35px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 10px;
}

header input {
    width: 200px;
    height: 25px;
    border-radius: 10px;
    background-color: white;
    border: 0px solid white;
}