#container {
  display: flex;
  border: 2px solid #333;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.box {
  width: 100px;
  height: 100px;
  font-size: 2em;
  text-align: center;
  display: block;
}

#box1 {
  background-color: red;
  margin-top: 10px;
}

#box2 {
  background-color: orange;
  margin-top: 20px;
  line-height: 100px;
}

#box3 {
  background-color: yellow;
  margin-top: 40px;
}

#box4 {
  background-color: yellowgreen;
  margin-top: 60px;
}
