#container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 200px;
}

header {
    grid-column: 1/span 4;
}

nav {
    grid-row: 2/span 2;
}

main {
    grid-row: 2/ span 2;
    grid-column: 2/ span 3;
}

footer {
    grid-column: 1/ span 4;
}